<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

<mat-toolbar>
  <span class="title">Title here</span>
  <span class="example-spacer"></span>
  <button mat-button class="bn5">Home</button>
  <button mat-button class="bn5">About</button>
  <button mat-button class="bn5">Contacts</button>
</mat-toolbar>
